USE [EvaluacionDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/06/2025 03:09:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormulaMateriales]    Script Date: 11/06/2025 03:09:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormulaMateriales](
	[IdFormula] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FormulaMateriales] PRIMARY KEY CLUSTERED 
(
	[IdFormula] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formulas]    Script Date: 11/06/2025 03:09:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formulas](
	[IdFormula] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Formulas] PRIMARY KEY CLUSTERED 
(
	[IdFormula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 11/06/2025 03:09:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_Grupos] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 11/06/2025 03:09:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Unidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/06/2025 03:09:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[ContraseñaHash] [nvarchar](max) NULL,
	[IdGrupo] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250611180822_InitialClean', N'8.0.17')
GO
INSERT [dbo].[FormulaMateriales] ([IdFormula], [IdProducto], [Nombre], [Cantidad]) VALUES (1, 1, N'Hilo rojo', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[FormulaMateriales] ([IdFormula], [IdProducto], [Nombre], [Cantidad]) VALUES (2, 1, N'ingreso de materiales hilo rojo', CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[FormulaMateriales] ([IdFormula], [IdProducto], [Nombre], [Cantidad]) VALUES (3, 1, N'Producto', CAST(3.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Formulas] ON 

INSERT [dbo].[Formulas] ([IdFormula], [IdProducto], [Nombre], [Cantidad]) VALUES (1, 2, N'Prueba formula 1', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Formulas] ([IdFormula], [IdProducto], [Nombre], [Cantidad]) VALUES (2, 2, N'Prueba formula 1', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Formulas] ([IdFormula], [IdProducto], [Nombre], [Cantidad]) VALUES (3, 1, N'Prueba formula 3', CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Formulas] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupos] ON 

INSERT [dbo].[Grupos] ([IdGrupo], [Nombre]) VALUES (1, N'Administrador')
SET IDENTITY_INSERT [dbo].[Grupos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Unidad]) VALUES (1, N'Hilo rojo', N'U')
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Unidad]) VALUES (2, N'Camas', N'U')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [ContraseñaHash], [IdGrupo]) VALUES (1, N'admin', N'$2a$11$PWpR4Q173fIfb.Q/P66rouIuIMTQDKPAcW4I3hwPB1lcP2oDUquji', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[FormulaMateriales]  WITH CHECK ADD  CONSTRAINT [FK_FormulaMateriales_Formulas_IdFormula] FOREIGN KEY([IdFormula])
REFERENCES [dbo].[Formulas] ([IdFormula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormulaMateriales] CHECK CONSTRAINT [FK_FormulaMateriales_Formulas_IdFormula]
GO
ALTER TABLE [dbo].[FormulaMateriales]  WITH CHECK ADD  CONSTRAINT [FK_FormulaMateriales_Productos_IdProducto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[FormulaMateriales] CHECK CONSTRAINT [FK_FormulaMateriales_Productos_IdProducto]
GO
ALTER TABLE [dbo].[Formulas]  WITH CHECK ADD  CONSTRAINT [FK_Formulas_Productos_IdProducto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Formulas] CHECK CONSTRAINT [FK_Formulas_Productos_IdProducto]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Grupos_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupos] ([IdGrupo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Grupos_IdGrupo]
GO
